h1 {
  color: #800080;
  text-align: center;
}

#date {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #666;
  font-size: 20px;
}